@mixin fith-sec-back {
  background: #fff;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
}

@mixin pseudo-list-number {
  counter-increment: list-counter;
  content: counters(list-counter, ".") " ";
  position: absolute;
  width: 20px;
  height: 20px;
  padding: -2px 2px 5px 2px;
  left: 0;
  margin-top: 10px;
  display: block;
  font-size: 10px;
  border-radius: 50%;
  border: 2px solid black;
}

@mixin carousel-arrows {
  width: 20%;
  height: 9%;
  top: 100%;
  margin-top: 29px;
  background: #fff;
  box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
}
