.section-fith {
  background: #fbfbfc;
  text-align: center;
  padding-top: 70px;
  margin-right: 15px;
}

.fith-sec {
  &-header-first,
  &-header-second,
  &-header-third,
  &-header-fourth {
    color: #020303;
  }
  &-card {
    margin-top: 42px;
  }
  &-list-group {
    margin-top: 57px;
    padding: 43px 0 71px;
    @include fith-sec-back;
    .list-wrapper {
      margin-top: 51px;
    }
  }
  &-header-third {
    margin: 80px 0 31px;
  }
  &-header-fourth {
    font-size: 28px;
  }
  &-btn {
    background: linear-gradient(180deg, #0c5cd6 0%, rgba(0, 56, 140, 0) 100%),
      #004fc7;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
    border-radius: 12px;
    color: #fafbfe;
    font-size: 17px;
    font-family: $headerfont;
    width: 100%;
    height: 64px;
    padding: 0 5px;
    text-transform: uppercase;
    &-group {
      margin-top: 185px;
    }
    &-wrapper {
      margin: 31px 0 -15px;
      text-align: left;
      z-index: 2;
    }
  }
}

.list {
  &-first-part {
    counter-reset: list-counter 0;
  }
  &-second-part {
    counter-reset: list-counter 7;
  }
  &-wrapper {
    padding: 0 50px;
  }
  &-group {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      position: relative;
      padding: 20px 0 20px 45px;
      line-height: 2.5;
      &::before {
        @include pseudo-list-number;
      }
    }
    span {
      font-weight: 700;
      color: #020303;
    }
  }
}

.card-item {
  @include fith-sec-back;
  padding: 25px 5px 25px 25px;
  width: 424px;
  height: 136px;
  span {
    margin-left: 35px;
    text-align: left;
  }
}

.custom {
  &-carousel-control-next-icon {
    background-image: url(../../../images/src/next-arrow.svg);
  }
  &-carousel-control-prev-icon {
    background-image: url(../../../images/src/arrow-prev.svg);
  }
  &-carousel-control-next,
  &-carousel-control-prev {
    @include carousel-arrows;
  }
  &-carousel-control-next {
    left: 25%;
    margin-right: 25px;
  }
  &-carousel-indicators {
    top: 100%;
    justify-content: center;
    margin-right: 0;
    margin-top: 29px;
  }
  &-carousel-indicator {
    width: 12px !important;
    height: 12px !important;
    border-radius: 100% !important;
    background: #80abff !important;
    opacity: 0.35;
    border: 1px solid #0045ac !important;
    margin: 0 13px !important;
  }
}

button.custom-carousel-indicator.active {
  background: linear-gradient(180deg, #005be4 0%, rgba(0, 96, 241, 0) 100%),
    #004fc7 !important;
  border: 1px solid #bed8ff !important;
}

@media screen and (max-width: 767px) {
  .card-item {
    width: 100%;
    margin-right: 0 !important;
  }
  .section-fith {
    margin: 0;
    padding-bottom: 65px;
    border-bottom: 1px solid #eef0f4;
  }
  .fith-sec {
    &-btn-group {
      margin-top: 92px;
    }
    &-btn-wrapper {
      margin-top: -25px;
    }
    &-header-fourth {
      font-size: 20px;
    }
  }
}

@media screen (min-w) and (max-width: 767px)

@media screen and (min-width: 768px) and (max-width: 991px) {
  .card-item {
    width: 337px;
    height: 108px;
    margin-right: 0 !important;
    &:nth-of-type(odd) {
      margin-right: 1rem !important;
    }
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8) {
      margin-bottom: 1rem !important;
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .card-item {
    width: 304px;
    height: 108px;
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(7),
    &:nth-of-type(8) {
      margin-right: 0.5rem !important;
    }
  }
}

@media screen and (min-width: 1201px) and (max-width: 1399px) {
  .card-item {
    width: 364px;
    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(7),
    &:nth-of-type(8) {
      margin-right: 0.5rem !important;
    }
  }
}
