.section-fith {
  background: #fbfbfc;
  text-align: center;
  padding: 70px 0 80px;
}

.fith-sec {
  &-header-first,
  &-header-second,
  &-header-third {
    color: #020303;
  }
  &-card {
    margin-top: 42px;
  }
  &-list-group {
    margin-top: 57px;
    padding: 43px 0 71px;
    @include fith-sec-back;
    .list-wrapper {
      margin-top: 51px;
    }
  }
}

.list {
  &-wrapper {
    padding: 0 50px;
  }
  &-group {
    text-align: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
    counter-reset: list-counter 10;
    li {
      position: relative;
      padding: 20px 0 20px 25px;
      line-height: 2.5;
      &::before {
        @include pseudo-list-number;
      }
    }
    // .numberCircle {
    //   width: 20px;
    //   height: 20px;
    //   display: inline-block;
    //   line-height: 12px;
    //   border-radius: 50%;
    //   text-align: center;
    //   padding-top: 2px;
    //   font-size: 10px;
    //   color: #45494f;
    //   border: 2px solid #45494f;
    //   margin-right: 25px;
    // }
    span {
      font-weight: 700;
      color: #020303;
    }
  }
}

.card-item {
  @include fith-sec-back;
  span {
    margin-left: 35px;
  }
}

.fith-sec-header-third {
  margin: 80px 0 31px;
}

.custom {
  &-carousel-control-next-icon {
    background-image: url(../../../images/src/next-arrow.svg);
  }
  &-carousel-control-prev-icon {
    background-image: url(../../../images/src/arrow-prev.svg);
  }
  &-carousel-control-next,
  &-carousel-control-prev {
    @include carousel-arrows;
  }
  &-carousel-control-next {
    left: 25%;
    margin-right: 25px;
  }
  &-carousel-indicators {
    margin-top:50% ;
    justify-content: center;
    margin-right: 0;
    margin-top: 29px;
    position: relative;
  }
  &-carousel-indicator {
    width: 12px !important;
    height: 12px !important;
    border-radius: 100% !important;
    background: #80abff !important;
    opacity: 0.35;
    border: 1px solid #0045ac !important;
    margin: 0 13px !important;
  }
}

button.custom-carousel-indicator.active {
  background: linear-gradient(180deg, #005be4 0%, rgba(0, 96, 241, 0) 100%),
    #004fc7 !important;
  border: 1px solid #bed8ff !important;
}
